<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
    <title>agregar-empleado</title>
</head>
<body>
<form action="" method="post">

  <label for="name">Nombre</label>
  <input type="text" id="name">

  <label for="correo">Correo</label>
  <input type="text" id="correo">

  <label for="rol">Rol</label>
  <input type="text" id="rol">

  <label for="fecha">Fecha de ingreso</label>
  <input type="date" id="fecha">

  <label for="fecha-a">Fecha de actualizacion</label>
  <input type="date" id="fecha-a">

  <label for="funcion">Funcion</label>
  <input type="text" id="funcion">

  <input type="submit" value="Agregar empleado">
</form>

</body>
</html>