<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Index</title>
</head>
<body>
<h1 class="titulo">
    yo soy de mente millonaria, por esa razon soy millonario
</h1>
<table class="tabla">
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Fecha de ingreo</th>
        <th>Fecha de actualizaciones</th>
        <th>Funcion</th>
    </tr>

    <tr th:each="listEmp : ${empleado}">
        <td th:text="${listEmp.nombre}"></td>
        <td th:text="${listEmp.correo}"></td>
        <td th:text="${listEmp.rol}"></td>
        <td th:text="${listEmp.fechaCreacionEmpleado}"></td>
        <td th:text="${listEmp.fechaActualizacionEmpleado}"></td>
        <td th:text="${listEmp.funcion}"></td>
    </tr>
</table>
<a href="/agregar-emleado">Agregar nuevo empleado</a>

</body>
</html>